.home-container {
    padding: 8px;
}

.home-container h1 {
    font-size: 36px;
    color: #334AC3;
}

.home-container p {
    color: #8D8D8D;
    font-size: 18px;
}

.filter-card {
    height: 130px;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.home-card {
    display: blcok;
    padding: 10px;
}

.home-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* MD */
 @media (min-width: 768px) {
    .home-container {
        padding: 40px;
    }

    .filter-card {
        padding-left: 40px;
        margin-bottom: 30px;
    }

    .home-card {
        padding: 40px;
    }

    .home-container h1 {
        font-size: 48px;
    }
    
    .home-container p {
        font-size: 24px;
    }
  }

  /* L */
  @media (min-width: 992px) {
    .home-container {
        padding: 60px;
    }

    .filter-card {
        padding-left: 50px;
    }

    .home-card {
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }

