.store-list-select-container {
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .store-list-select__control {
    height: 50px;
    width: 270px;
    border: 1px solid #8D8D8D !important;
    border-radius: 4px !important;
    background-color: #fff !important;
  }
  
  .store-list-select__placeholder {
    font-size: 16px !important;
    color: #8D8D8D !important;
  }
  
  .store-list-select__indicator {
    color: #8D8D8D !important;
  }
  
  .store-list-select__indicator-separator {
    display: none;
  }
  
  .store-list-select__single-value {
    font-size: 16px !important;
    color: #8D8D8D !important;
   
  }
  
  /* SM */
  @media (min-width: 576px) {
    .store-list-select-container {
      justify-content: flex-start;
    }
  }